[Unit]
Description=Borgmatic backup for %i
ConditionACPower=true

[Service]
ExecStartPre=sleep 1m
ExecStart=systemd-inhibit --who="borgmatic" --why="Prevent interrupting scheduled backup" %h/bin/automatic-backup %i

NotifyAccess=all
Restart=no

# Lower CPU and I/O priority.
Nice=19
CPUSchedulingPolicy=batch
IOSchedulingClass=best-effort
IOSchedulingPriority=7
IOWeight=100
