[Unit]
Description=Run automatic backup
Requires=ssh-agent.service
After=ssh-agent.service

[Timer]
OnCalendar=daily
Persistent=true

[Install]
WantedBy=timers.target

