[Unit]
Description=Triggers backup script
Before=shutdown.target
#RequiresMountsFor=/run/media/scrumplex/SEFA2T

[Service]
Type=forking
ExecStart=/home/scrumplex/bin/automatic-backup
NotifyAccess=all


[Install]
#WantedBy=run-media-scrumplex-SEFA2T.mount

