[Unit]
PartOf=graphical-session.target

Description=Calf Jack Host with Compressor loaded
After=graphical-session.target
Requires=pipewire-pulse.service

[Service]
ExecStartPre=/usr/bin/pactl load-module module-null-sink object.linger=1 media.class=Audio/Sink sink_name=VoIP channel_map=stereo
ExecStart=/usr/bin/calfjackhost -c calf-compressor -l %h/.pipewire/compressor.calf
ExecStartPost=%h/.pipewire/connect_jack_calf.sh
ExecStopPost=/usr/bin/pactl unload-module module-null-sink
Slice=app.slice

[Install]
WantedBy=default.target