[Unit]
Description=PipeWire Companion - %i
After=pipewire.service
BindsTo=pipewire.service

[Service]
ExecStart=/usr/bin/pipewire -c %E/pipewire/companion/%i.conf

[Install]
WantedBy=pipewire.service

