[Unit]
Description=PipeWire Loopback - Desktop Source
Requires=pipewire.service
After=pipewire.service
BindsTo=pipewire.service

[Service]
ExecStart=/usr/bin/pipewire -c %E/pipewire/lb/desktop-source.conf

[Install]
WantedBy=default.target

