[Unit]
Description=Lightweight overlay bar for Wayland

[Socket]
ListenFIFO=%t/wob.sock
RemoveOnStop=on
Service=wob.service

[Install]
WantedBy=sway-session.target

