[Unit]
Description=Socket activation for lightweight overlay bar for Wayland

[Socket]
ListenFIFO=%t/wob.sock
RemoveOnStop=on
# If wob crashes from an input systemd should NOT shove it right back into it after it restarted
FlushPending=yes
Service=wob.service

[Install]
WantedBy=sway-session.target

