[Unit]
Description=SSH key agent

[Service]
Type=forking
ExecStart=/usr/bin/ssh-agent -a $SSH_AUTH_SOCK
ExecStartPost=%h/bin/ssh-agent-load-keys

[Install]
WantedBy=graphical-session.target

