window#waybar {
    font-family: "Fira Code";
    font-size: 10pt;
    background: RGBA(26, 24, 38, 0.9);  /* black1 */
    color: #D9E0EE;  /* white */
}

.modules-left, .modules-center, .modules-right {
    margin-left: 8px;
    margin-right: 8px;
    background-color: #302D41;  /* black3 */
    border-radius: 16px;
}

#workspaces, #mpd, #clock, #network, #pulseaudio, #battery, #custom-pa-mute, #idle_inhibitor, #tray {
    margin: 0 8px;
}

#custom-pa-mute {
    margin-right: 0;
}

#idle_inhibitor {
    margin-left: 0;
}

#workspaces {
    margin-left: 0;
}

#workspaces button, #idle_inhibitor, #custom-pa-mute {
    border: none;
    background-color: transparent;
    box-shadow: none;  /* dunno why this is set */
    border-radius: 16px;
    transition: background-color 100ms ease, color 100ms ease;
    /* make it 32px × 32px */
    min-width: 32px;
    min-height: 32px;
    padding: 0;
}

#workspaces button.urgent, #idle_inhibitor.activated, #custom-pa-mute.muted {
    background-color: #F28FAD;  /* red */
    color: #161320;  /* black0 */
}

#idle_inhibitor.activated {
    background-color: #F8BD96; /* peach */
}

#workspaces button:hover {
    background-image: none; /* remove Adwaita button gradient */
    background-color: #575268;  /* black4 */
}

#workspaces button:hover label {
    text-shadow: none; /* Adwaita? */
}

#workspaces button.focused {
    background-color: #96CDFB;  /* blue */
    color: #161320;  /* black0 */
}

#workspaces button.focused:hover {
    background-color: #B5E8E0;  /* teal */
}

#workspaces button:active, #workspaces button.focused:active {
    background-color: #DDB6F2;  /* mauve */
}

#network.ethernet {
    padding: 0;
}
