window#waybar {
    font-family: "Fira Code";
    font-size: 10pt;
    background: RGBA(26, 24, 38, 0.95);  /* black1 */
    color: #D9E0EE;  /* white */
}

button {
    background-repeat: no-repeat;
    background-position: center;
    background-size: 25%;
    border: none;
}

button:hover {
    background-color: #575268;  /* black4 */
}

button:focus {
    background-color: #96CDFB;  /* blue */
    color: #161320;  /* black0 */
}

button:active {
    background-color: #D9E0EE;  /* white */
    color: #161320;  /* black0 */
}

#lock {
    background-image: image(url("./lock.png"));
}

#exit {
    background-image: image(url("./exit-to-app.png"));
}

#suspend {
    background-image: image(url("./power-sleep.png"));
}

#hibernate {
    background-image: image(url("./power-cycle.png"));
}

#shutdown {
    background-image: image(url("./power.png"));
}

#reboot {
    background-image: image(url("./restart.png"));
}
