{
  config,
  lib,
  ...
}: let
  inherit (lib.options) mkEnableOption;
  inherit (lib.modules) mkIf;

  cfg = config.roles.{{ name }};
in {
  options.roles.{{ name }} = {
    enable = mkEnableOption "{{ name }} role";
  };

  config = mkIf cfg.enable {};
}
